<!DOCTYPE  html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>BBS</title>
</head>
<body>
  <h1>BBS</h1>

  <h2>Add new</h2>
  <form method="post" action="/new">
    名前<input type="text" name="name" placeholder="名無しさん">
    <br>
    コメント<input type="text" name="body"> <br>
    <input type="submit" value="送信する">
  </form>

  <ol reversed>
    <% @comments.each do |comment| %>
    <li data-id="<%= comment.id %>">
      <font size="5"><%= h comment.body %> by <%= comment.name %> at <%= comment.created_at %></font>
      <span class="deleteCmd" style="cursor:pointer;color:blue"> <font size="5">[x]</font></span>
    </li>
    <% end %>
  </ol>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>
    $('.deleteCmd').click(function(){
      var el=$(this).parent();
      if(confirm('are you sure to delete?')){
        $.post('/delete',{
          id: el.data('id')
        }, function(){
          el.fadeOut(800);
        });
      }
    })
    </script>
</body>
</html>